
@media (max-width: 767px) {

    .col-left {
        max-width: 20%; 
        background-color: #061D26;
    }

    .col {
        background-color: #061D26;
        text-align: left;
        color: #fff;
    }



    .container {
        color: #fff;  
      }


      .autmatezone {
        font-size: 48px;
        color: #30BF6E;
    }

    .main-menu {
        display: none; 
    }

    .center {
        display: block;
        margin: 0 auto;
    }
    
   



    header {
        background-color: #30BF6E; 
        border-bottom: 2px solid #30BF6E; 
        padding: 10px 0; 
        width: 100%;
        margin-left: calc(-50vw + 50%);
        margin-right: calc(-50vw + 50%);
        box-sizing: border-box; 
    }


    .container-hoofding {
        max-width: 1200px; 
        margin: 0 auto; 
        display: flex; 
        align-items: center; 
    }
    
    .logo {
        width: 100px; 
        height: auto; 
    }






    #dropdownButton {
        position: relative;
        z-index: 1;
    }
    
    .dropdown-menu {
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index: 2;
        display: none;
    }
    
    .dropdown-menu li {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-menu li:hover {
        background-color: #f1f1f1;
    }
    
    #dropdownButton:hover + .dropdown-menu,
    .dropdown-menu:hover {
        display: block;
    }
    
    .dropdown-menu {
        transition: display 0.3s ease;
    }

        /* contact pagina */


        .contact-hoofd {
            
            font-size: 48px; 
            color: #ffffff;
        }


        /* Stijlen voor formulier */
        form {
            max-width: 400px;
            margin: 0 auto;
            text-align: left;
        }
        label {
            display: block;
            margin-bottom: 10px;
            color: white; 
        }
        input[type="text"],
        textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 20px;
            color: white; 
        }
        textarea {
            resize: vertical;
            height: 150px;
            color: white; 
        }
        input[type="submit"] {
            background-color: #4CAF50;
            color: white; 
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #45a049;
        }

        .contact-info {
            color: white; 
            margin-top: 20px; 
            font-size: 16px; 
        }


        /*producten*/

        .container-box {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .box {
            margin-top: 20px; 
        }


    }

@media (min-width: 768px) and (max-width: 991px) {
    
    .col-left {
        max-width: 20%; 
        background-color: #061D26;
    }

    .col {
        background-color: #061D26;
        text-align: left;
        color: #fff;
    }




    .tekst-container {
        color: #fff;
        max-width: 80%;
        margin: 0 auto;
        padding: 0 20px;
        text-align: center;
    }
    



    .container {
        color: #fff;  
      }


      .autmatezone {
        font-size: 48px;
        color: #30BF6E;
    }
    
    .center {
        display: block;
        margin: 0 auto;
    }


    
    .main-menu {
        display: none; 
    }
    
   



    header {
        background-color: #30BF6E; 
        border-bottom: 2px solid #30BF6E; 
        padding: 10px 0; 
        width: 100%;
        margin-left: calc(-50vw + 50%);
        margin-right: calc(-50vw + 50%);
        box-sizing: border-box;
    }


    .container-hoofding {
        max-width: 1200px; 
        margin: 0 auto; 
        display: flex; 
        align-items: center; 
    }
    
    .logo {
        width: 100px; 
        height: auto; 
    }






    #dropdownButton {
        position: relative;
        z-index: 1;
    }
    
    .dropdown-menu {
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index: 2;
        display: none;
    }
    
    .dropdown-menu li {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-menu li:hover {
        background-color: #f1f1f1;
    }
    
    #dropdownButton:hover + .dropdown-menu,
    .dropdown-menu:hover {
        display: block;
    }
    
    .dropdown-menu {
        transition: display 0.3s ease;
    }
    
    

    /* contact pagina */


    .contact-hoofd {
    
        font-size: 48px; 
        color: #ffffff;
    }
    
    
    /* Stijlen voor formulier */
    form {
        max-width: 400px;
        margin: 0 auto;
        text-align: left;
    }
    label {
        display: block;
        margin-bottom: 10px;
        color: white; 
    }
    input[type="text"],
    textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 20px;
        color: white; 
    }
    textarea {
        resize: vertical;
        height: 150px;
        color: white; 
    }
    input[type="submit"] {
        background-color: #4CAF50;
        color: white; 
        padding: 10px 20px;
        border: none;
        cursor: pointer;
    }
    input[type="submit"]:hover {
        background-color: #45a049;
    }
    
    .contact-info {
        color: white; 
        margin-top: 20px; 
        font-size: 16px; 
    }
    


    /*producten*/

    .container-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box {
        margin-top: 20px; 
    }


    /*software page */

    .container p {
        color: white;
    }
    
    
    .col-md-12 img {
        display: block;
        margin: 0 auto;
    }
    
}

  
@media (min-width: 992px) {

    .col-left {
        max-width: 20%; 
        background-color: #061D26;
    }

    .col {
        background-color: #061D26;
        text-align: left;
    }


    #dropdownButton {
        display: none;
    }



    body {
        background-color: #061D26; 
    }
    
    .container {
      color: #fff;  
    }
    .autmatezone {
        font-size: 48px;
        color: #30BF6E;
    }
    
    .center {
        display: block;
        margin: 0 auto;
    }
    
    .tekst-container {
        max-width: 80%; 
        margin: 0 auto; 
        padding: 0 20px; 
        text-align: center;
        color: #ffffff; 
    }
    
    header {
        background-color: #30BF6E; 
        border-bottom: 2px solid #30BF6E; 
        padding: 10px 0; 
        width: 100%;
        margin-left: calc(-50vw + 50%);
        margin-right: calc(-50vw + 50%);
        box-sizing: border-box; 
    }
    

    
    
    .container-hoofding {
        max-width: 1200px; 
        margin: 0 auto; 
        display: flex; 
        align-items: center; 
    }
    
    .logo {
        width: 100px;
        height: auto; 
    }
    
    nav ul {
        list-style-type: none; 
        margin: 0; 
        padding: 0;
    }
    
    nav ul li {
        display: inline-block; 
    }
    
    nav ul li a {
        text-decoration: none; 
        color: #ffffff; 
        font-size: 18px; 
    }
    nav ul li:nth-child(3) a {
   
        color: #ffffff;
        font-size: 18px; 
    }
    
    nav ul li:nth-child(4) a {
   
        color: #ffffff; 
        font-size: 18px; 
    }
    nav ul li:last-child a {
        color: #ffffff; 
        font-size: 18px; 
    }
    
/*hier onder is contact pagina style */

.contact-hoofd {
    
    font-size: 48px;
    color: #ffffff;
}


/* Stijlen voor formulier */
form {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}
label {
    display: block;
    margin-bottom: 10px;
    color: white; 
}
input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    color: white; 
}
textarea {
    resize: vertical;
    height: 150px;
    color: white;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white; 
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}

.contact-info {
    color: white; 
    margin-top: 20px; 
    font-size: 16px; 
}








/* dit is code voor mogelijheden pagina */


.section {
color: #fff;

}




/* producten style code */

.container-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.box {
    width: calc(33.33% - 20px);
    padding: 20px;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

.box img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.box p {
    font-size: 16px;
    line-height: 1.5;
}

/* sofware code */

.container p {
    color: white;
}


.col-md-12 img {
    display: block;
    margin: 0 auto;
}




/* foooterr */ 

.footerr {
    color: #fff;
}
  
}







  








